html { 
	      height: 100%;
	  }
      
	  body {
		  height: 100%; 
		  margin: 0; 
		  padding: 0;
		  background-image: url('background9.jpg');
		  background-color: #B3CDE6;
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-position: right bottom; 
	      background-size: cover;
	  }
      #argeset-map { 
	  	  height: 100%;
		  width: 65%; 
		  margin-left: auto;
          margin-right: auto;
		  border-right-width: 2px;
		  border-right-color: #ffffff;
		  border-right-style: solid;
		  border-left-width: 2px;
		  border-left-color: #ffffff;
		  border-left-style: solid;
	  }
